
.texto {
    margin: 40px;
    padding: 20px;
}
.p-padrao{
    background-color: #f5f5f5;
 
}
.p-destaque {
    background-color: #F0CCE2;
}
.moveis {
background-color: #424250 

}
.produtos{
    background-color:#BB86FC ;
}
table{
color: #f5f5f5;
text-align: center;
}
.produtos-casa {
    background-color: #00C4B4;
}